@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico');

#two {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  padding: 6em 0 4em 0;
}

#two.active {
  opacity: 1;
  transform: translateY(0);
}

#two .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
}

#two .columns {
  display: flex;
  gap: 2rem;
  position: relative; /* 添加相对定位 */
}

#two .columns::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px; /* 线条宽度 */
  background-color: #ccc;
  transform: translateX(-50%);
}

#two .column {
  flex: 1; /* 两列水平占比一致 */
  background: #fff; /* 底色都为白色 */
  transition: transform 0.7s ease; /* 添加过渡效果 */
  margin:0 6em 0 6em;
}

#two .column:hover,
#two .column.hovered {
  transform: scale(1.35); /* 鼠标悬浮时放大 */
}

.responsive-image {
  width: 100%;
  height: auto;
}

h3 {
  color: #ff8bb7;
}