@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico');

.banner#team-banner {
  background-color: #0c0c0c;
  color: #f2a3a5;
  padding: 6em 0;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 50vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#team-banner .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
}

#team-banner h1 {
  font-size: 3.5em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
  color: #dfdfdf;
}

#team-banner .description {
  font-size: 1.5em;
  margin: 0;
  color: #bcceca;
}

@media screen and (max-width: 768px) {
  #banner {
    padding: 4em 0;
  }

  #banner h1 {
    font-size: 2.5em;
  }

  #banner .description {
    font-size: 1.2em;
  }
}
