@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico');
/* @import "../../../../styles/animations.css"; */

.fade-in-left {
  animation: fadeInLeft 0.5s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#banner {
  background-color: #0c0c0c;
  color: #f2a3a5;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: left;
  position: relative;
  z-index: 9999;
  height: 86vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  --button-bg: rgba(109, 108, 108, 0.75);
  --button-hover-bg: rgba(109, 108, 108, 0.93);
  --button-active-bg: rgba(109, 108, 108, 1);
  --button-text: #ffffff;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(0.3px);
  z-index: 1;
}

#banner .inner {
  padding: 2em;
  text-align: left;
  position: relative;
  z-index: 2;
  line-height: 1.5;
}

#banner h1 {
  font-size: 5vw;
  margin: 0 0 1em 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 700;
  color: #ff8bb7;
}

#banner h1 span {
  display: block;
  font-size: 2.5vw;
}

.custom-style {
  text-transform: lowercase;
  color: #ffedfd;
}

#banner ul {
  list-style: none;
  padding: 0;
}

#banner .actions .button {
  font-size: 2vw;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 2px solid var(--button-text);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

#banner .actions .button:hover {
  background-color: var(--button-hover-bg);
  animation: zoomIn 0.5s ease-in-out forwards;
}

#banner .actions .button:active {
  background-color: var(--button-active-bg);
  animation: zoomOut 0.5s ease-in-out forwards;
}
