@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico');

#four {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  padding: 6em 0 4em 0;
}

#four.active {
  opacity: 1;
  transform: translateY(0);
}

#four .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
}

#four .columns {
  display: flex;
  gap: 2rem;
  position: relative;
}

#four .columns:first-child {
  flex: 4;
}

#four .columns:last-child {
  flex: 6;
}

#four .columns::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

#four .column {
  background: #fff;
  transition: transform 0.7s ease;
  margin: 0 6em 0 6em;
}

#four .column:hover,
#four .column.hovered {
  transform: scale(1.35);
}

.responsive-image {
  width: 100%;
  height: auto;
}

h3 {
  color: #ff8bb7;
}
