@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico');

#four {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  padding: 6em 0 4em 0;
}

#four.active {
  opacity: 1;
  transform: translateY(0);
}

#four .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
}

.columns {
  display: flex;
  gap: 2rem;
}

.columns .alt {
  background: #f9f9f9;
}

.responsive-image {
  width: 100%;
  height: auto;
}

h3 {
  color: #ff8bb7;
}